Repository uc-cdis/indexd, pull requests merged in 2023-03, with the labels that each got.

#346 (PPS-196): Fix Snyk Complaining about Code Injection
  .pre-commit-config.yaml
  .secrets.baseline
  indexd/drs/blueprint.py
Labels: test-sheepdogAndPeregrine-submitFileTest, test-apis-centralizedAuth

#347 PXP-10714: Prefer version to rev
  indexd/drs/blueprint.py
Labels: test-apis-etlTest

#351 bug(PXP-6421): Fixes description not updating for records.
  .secrets.baseline
  indexd/index/schema.py
  pyproject.toml
  tests/test_client.py
Labels: test-apis-drsEndpointsTest

#353 bug(PXP-6421): Reverting description changes for DRS
  .gitignore
  .secrets.baseline
  bin/index_admin.py
  indexd/blueprint.py
  indexd/drs/blueprint.py
  indexd/index/blueprint.py
  indexd/index/drivers/alchemy.py
  indexd/index/drivers/query/urls.py
  indexd/index/schema.py
  indexd/utils.py
  openapis/swagger.yaml
  poetry.lock
  pyproject.toml
  tests/test_bundles.py
  tests/test_client.py
  tests/test_deprecated_aliases_endpoints.py
  tests/test_driver_alchemy_auth.py
  tests/test_driver_alchemy_crud.py
  tests/test_drs.py
  tests/test_schema_migration.py
  tests/test_setup.py
Labels: test-apis-clientCredGrantTest

#354 PXP-1913 PPS-251 Use Alembic for database migrations
  .secrets.baseline
  Dockerfile
  alembic.ini
  bin/index_admin.py
  bin/indexd
  docs/local_dev_environment.md
  indexd/alias/drivers/alchemy.py
  indexd/app.py
  indexd/auth/drivers/alchemy.py
  indexd/default_settings.py
  indexd/index/drivers/alchemy.py
  indexd/utils.py
  migrations/env.py
  migrations/script.py.mako
  migrations/versions/15f2e9345ade_create_tables.py
  poetry.lock
  pyproject.toml
  tests/alchemy.py
  tests/conftest.py
  tests/default_test_settings.py
  tests/postgres/README.md
  tests/postgres/conftest.py
  tests/postgres/migrations/test_15f2e9345ade_create_tables.py
  tests/postgres/migrations/test_legacy_schema_migration.py
  tests/test_client.py
Labels: test-apis-etlTest, test-coremetadata-getCoremetadataTest, test-portal-coremetadatapageTest
